/*///////////////////////////////////////////////////////////////////////
//
// ######                             
// #     # #        ##   #    # ##### 
// #     # #       #  #  ##   #   #   
// ######  #      #    # # #  #   #   
// #       #      ###### #  # #   #   
// #       #      #    # #   ##   #   
// #       ###### #    # #    #   #  
//
///////////////////////////////////////////////////////////////////////*/
.plantModule {
  position: absolute;
  height: 600px;
  width: 700px;
  top: 50%;
  left: 50%;

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(50, 50, 50, 0.1);
  color: white;
  font-family: "Arial";
  font-size: 25px;

  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.plantBackground {
  position: relative;
  height: 95%;
  /* opacity: 1;*/
}

.plantLight {
  position: absolute;
  top: 10%;
  left: 16%;
  color: white;
}

.plantMoisture {
  position: absolute;
  top: 77%;
  left: 63%;
  z-index: +1;
  color: black;
}

.plantThermo {
  position: absolute;
  top: 60%;
  left: 17%;
  /*opacity: 0.7;*/
}

/*///////////////////////////////////////////////////////////////////////
//
//  ######                                 
//  #     # # #####  ####   ####  # #    # 
//  #     # #   #   #    # #    # # ##   # 
//  ######  #   #   #      #    # # # #  # 
//  #     # #   #   #      #    # # #  # # 
//  #     # #   #   #    # #    # # #   ## 
//  ######  #   #    ####   ####  # #    # 
//
///////////////////////////////////////////////////////////////////////*/
.bitcoinContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 175px;
  top: 10%;
  left: 90%;

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(50, 50, 50, 0.1);
  color: white;
  font-family: "Arial";
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bitcoinTitle {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  top: 35%;
  left: 50%;
}

.priceText {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
}

/*///////////////////////////////////////////////////////////////////////
//
//  ######                                      
//  #     # #####  # #    # ##### ###### #####  
//  #     # #    # # ##   #   #   #      #    # 
//  ######  #    # # # #  #   #   #####  #    # 
//  #       #####  # #  # #   #   #      #####  
//  #       #   #  # #   ##   #   #      #   #  
//  #       #    # # #    #   #   ###### #    # 
//
///////////////////////////////////////////////////////////////////////*/
.printer {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 90%;
  top: 50%;
  left: 50%;
}

/*///////////////////////////////////////////////////////////////////////
//
//  ######                                         
//  #     #   ##   ##### ##### ###### #####  #   # 
//  #     #  #  #    #     #   #      #    #  # #  
//  ######  #    #   #     #   #####  #    #   #   
//  #     # ######   #     #   #      #####    #   
//  #     # #    #   #     #   #      #   #    #   
//  ######  #    #   #     #   ###### #    #   #  
//
///////////////////////////////////////////////////////////////////////*/
.batteryLevel {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 42.666px;
  width: 42.666px;
  top: 95%;
  left: 5%;

  opacity: 0.75;
}
