/*//////////////////////////////////////////////////////////////////////
//
//  ██╗    ██╗███████╗ █████╗ ████████╗██╗  ██╗███████╗██████╗ 
//  ██║    ██║██╔════╝██╔══██╗╚══██╔══╝██║  ██║██╔════╝██╔══██╗
//  ██║ █╗ ██║█████╗  ███████║   ██║   ███████║█████╗  ██████╔╝
//  ██║███╗██║██╔══╝  ██╔══██║   ██║   ██╔══██║██╔══╝  ██╔══██╗
//  ╚███╔███╔╝███████╗██║  ██║   ██║   ██║  ██║███████╗██║  ██║
//   ╚══╝╚══╝ ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ 
//
///////////////////////////////////////////////////////////////////////
//
//  #     #                                             #######                                                 
//  #  #  # ######   ##   ##### #    # ###### #####     #        ####  #####  ######  ####    ##    ####  ##### 
//  #  #  # #       #  #    #   #    # #      #    #    #       #    # #    # #      #    #  #  #  #        #   
//  #  #  # #####  #    #   #   ###### #####  #    #    #####   #    # #    # #####  #      #    #  ####    #   
//  #  #  # #      ######   #   #    # #      #####     #       #    # #####  #      #      ######      #   #   
//  #  #  # #      #    #   #   #    # #      #   #     #       #    # #   #  #      #    # #    # #    #   #   
//   ## ##  ###### #    #   #   #    # ###### #    #    #        ####  #    # ######  ####  #    #  ####    #   
//
///////////////////////////////////////////////////////////////////////*/
.weatherForecastModule
{
  position:  absolute;
  transform: translate(-50%, -50%);
  height:    400px;
  width:     450px;
  top:       50%;
  left:      75%;

  border: 1px solid rgba(255, 255, 255, 0.2);
  background:       rgba(50, 50, 50, 0.1);
  border-radius: 20px;
  color:         white;
  font-family:   "Arial";
  font-size:     20px;

  transform: translate(-50%, -50%);
  display:         flex;
  align-items:     center;
  justify-content: center;
  text-align:      center;
}

.weatherScreenforecastTable
{
  color: white;
  justify-content: center;
  align-items:     center;
  text-align:      center;
  font-size: 15px;
}

.wetherScreenforecastIcon
{
  height: 25%
}

td
{
  vertical-align: middle !important;
}

/*///////////////////////////////////////////////////////////////////////
//
//  #####                                              #     #                                          
// #     # #    # #####  #####  ###### #    # #####    #  #  # ######   ##   ##### #    # ###### #####  
// #       #    # #    # #    # #      ##   #   #      #  #  # #       #  #    #   #    # #      #    # 
// #       #    # #    # #    # #####  # #  #   #      #  #  # #####  #    #   #   ###### #####  #    # 
// #       #    # #####  #####  #      #  # #   #      #  #  # #      ######   #   #    # #      #####  
// #     # #    # #   #  #   #  #      #   ##   #      #  #  # #      #    #   #   #    # #      #   #  
//  #####   ####  #    # #    # ###### #    #   #       ## ##  ###### #    #   #   #    # ###### #    # 
//
///////////////////////////////////////////////////////////////////////*/
.currentWeatherModule
{
  position: absolute;
  transform: translate(-50%, -50%);
  /*height:   40%;*/
  /*width:    40%;*/

  height:   300px;
  width:    475px;

  top:      50%;
  left:     25%;

  border-radius: 20px;

  border:      1px solid rgba(255, 255, 255, 0.2);
  background:  rgba(50, 50, 50, 0.1);
  color:       white;
  font-family: "Arial";
  font-size:   20px;

  display:         flex;
  align-items:     center;
  justify-content: center;
  text-align:      center;
}

.currentWeatherIcon
{
  height: 75%;
}

.currentWeatherThermo
{
  position: absolute;
  transform: translate(-50%, -50%);
  top:  40%;
  left: 95%;
}

.currentWeatherSummary
{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  top:  15%;
  left: 50%;
}

.currentWeatherContent
{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 90%;
  top:  60%;
  left: 50%;
}

/* Fairly sure this doesnt do anything*/
/*.thermometer 
{
  position: absolute;
  top: 145px;
  left: 75%;
} */